@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-transform: uppercase;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
}

.custom-img {
  background-image: url(../../public/home.jpg);
}
