@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 10px 60px;
  display: flex;
}

.custom-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/home.jpg);
  background-position: center;
}
