@tailwind base;
@tailwind components;
@tailwind utilities;

/* no blue highlight */
.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* underline effect */
.link-underline {
  /*  border-bottom-width: 3px; */
  padding-bottom: 5px;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #000);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 100% 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.main-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 60px;
  display: flex;
}

.home-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contest-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/contest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../../public/contact.jpg);
  background-position: center;
}

.footer-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
}

.contest-container {
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

/* dropdown */
.dropdown:hover > .dropdown-content {
  display: block;
}
